---
import HeroImage from '../../assets/Hero.png';
import { Image } from 'astro:assets';
import GradientContainer from '../gradient-container.astro';
import Button from '../button.astro';
import Picture from '../picture.astro';
---

<div class="w-full flex items-center h-[calc(100vh-100px)] justify-center overflow-hidden shrink-0">
  <section
    class="landing-hero relative h-full mb-[10%]  py-16 md:py-20 pl-5 md:pl-16 gap-20 flex md:items-center max-w-[1440px]"
  >
    <div class="flex z-10 flex-col gap-6">
      <p class="text-xl" id="hello">Hey, I'm Fahad Alhatshami</p>
      <h1 class="font-bold" id="title">A Software Engineer that loves to learn.</h1>
      <p id="subtitle" class="opacity-0">
        Currently embarking on an entrepreneurial journey, I'm exploring start-up ventures and embracing valuable
        lessons from challenges and setbacks.
      </p>
      <Button id="contact-me" variant='secondary'>
        <a href="#about">
          Contact Me
        </a>
      </Button>
    </div>
    <GradientContainer
      id="hero-image-gradient"
      className="w-1/2 min-w-[70%] md:w-full max-w-[600px] md:min-w-[400px]  absolute md:relative -bottom-8 -right-10"
    >
      
      <Picture id='hero-image'  class="xl"  src={HeroImage} />
    </GradientContainer>
  </section>
</div>

<style>
  #title {
    animation: fadeIn 0.45s ease-in-out 0.5s both;
  }

  #subtitle {
    animation: fadeIn 0.45s ease-in-out 0.7s both;
  }

  #hello {
    animation: slideIn 0.45s ease-in-out 0s both;
  }

  #contact-me {
    animation: fadeIn 0.45s ease-in-out 0.9s both;
  }

  #hero-image-gradient {
    animation: fadeIn 0.8s ease-in-out 0.9s both;
  }
  #hero-image {
    animation: fadeIn 0.8s ease-in-out 0.9s both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
