---
export type Props = {
  experience: {
    company: string;
    title: string;
    description: string;
  };
};

const props = Astro.props;
---

<div class="flex gap-10 lg:w-[600px] lg:h-[215px]">
  <div class="flex items-center flex-col gap-4 h-[160px]">
    <svg class="shrink-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M5 12C5 15.859 8.14 19 12 19C15.859 19 19 15.859 19 12C19 8.141 15.859 5 12 5C8.14 5 5 8.141 5 12ZM17 12C17 14.757 14.757 17 12 17C9.243 17 7 14.757 7 12C7 9.243 9.243 7 12 7C14.757 7 17 9.243 17 12Z"
        fill="#333333"></path>
    </svg>
    <div class="w-[2px] h-full bg-black rounded-sm"></div>
  </div>
  <div>
    <h6 class="my-0">{props.experience.company}</h6>
    <p class="my-0">{props.experience.title}</p>
    <p>{props.experience.description}</p>
  </div>
</div>
