---
import { Image } from 'astro:assets';
import CircleHollow  from '../../assets/circle-hollow.svg';
export type Props = {
  experience: {
    company: string;
    title: string;
    description: string;
  };
};

const props = Astro.props;
---

<div class="flex gap-10 lg:w-[600px] lg:h-[215px]">
  <div class="flex items-center mt-1 flex-col gap-4 h-[160px]">
    <Image class="w-[100px]" src={CircleHollow} alt="Circle Hollow" />
    <div class="w-[2px] h-full bg-black rounded-sm"></div>
  </div>
  <div>
    <h6 class="my-0">{props.experience.company}</h6>
    <p class="my-0">{props.experience.title}</p>
    <p>{props.experience.description}</p>
  </div>
</div>
