---
import Container from '../container.astro';
import WorkExperienceSection from './work-experience-section.astro';

const companies = [
  {
    company: 'Work Performance',
    title: 'FullStack Developer',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
  },
  {
    company: 'Tailspiral',
    title: 'Founder',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ',
  },
  {
    company: 'Compileit',
    title: 'FullStack Web Developer',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. '
  }
];
---

<Container class='h-min overflow-auto'>
  <div class="flex flex-col md:flex-row gap-8 items-start justify-between">
    <div class="md:w-[730px]">
      <p class="font-semibold animate-slide-in">My Experience</p>
      <h2 class="animate-fade-in-1">Professional Odyssey: Navigating Past Endeavorse</h2>
    </div>
    <div class="flex flex-col gap-4">
      {companies.map((company) => <WorkExperienceSection experience={company} />)}
    </div>
  </div>
</Container>
