---
import Hero from '../components/home-page/hero.astro';
import Layout from '../layouts/main.astro';
import CompaniesWheel from '../components/home-page/companies-wheel.astro';
import WorkPerformance from '../assets/work-performance.svg';
import Compileit from '../assets/compileit.svg';
import Container from '../components/container.astro';
import Excellence from '../assets/excellence.png';
import Picture from '../components/picture.astro';
import GradientContainer from '../components/gradient-container.astro';
import ProjectSection from '../components/project-section.astro';
import Button from '../components/button.astro';
import WorkExperience from '../components/home-page/work-experience.astro';
---

<Layout
  title="Fahad Alhatshami - Software Engineer | Crafting Innovative Digital Solutions"
  description="Explore the portfolio of Fahad Alhatshami, a dedicated Software Engineer with a penchant for developing innovative digital solutions. Navigate through a collection of diverse projects, showcasing a holistic approach to problem-solving and a commitment to driving technological advancement."
>
  <Hero />
  <CompaniesWheel
    companies={[
      {
        alt: 'Compileit',
        src: Compileit,
      },
      {
        alt: 'Work Performance',
        src: WorkPerformance,
      },
    ]}
  />

  <Container class="overflow-hidden">
    <div class="flex flex-col md:flex-row gap-8 items-start justify-between">
      <div class="md:w-[730px]">
        <p class="font-semibold animate-slide-in">About me</p>
        <h2 class="mt animate-fade-in-1">Digital Engineering Excellence</h2>
        <p class="animate-fade-in-2">
          In the software engineering landscape, my technical proficiency in Typescript, Go, and React intertwines with
          an enthusiasm and dedication to continuous improvement. I focus on developing software that is both
          functionally robust and meticulously crafted for optimal user experience and accessibility. My journey goes
          beyond coding, weaving a narrative where technology meets real-world solutions, ensuring every line of code
          contributes to user-centric and innovative applications.
        </p>
        <ul class="mt-8 flex flex-col gap-4 animate-fade-in-3">
          <li>Passionate Learner: Continuously honing software engineering skills.</li>
          <li>User-Centric Approach: Prioritizing intuitive, accessible software development.</li>
          <li>Innovation-Driven Development: Pioneering solutions that push boundaries.</li>
        </ul>
      </div>
      <GradientContainer class="animate-fade-in-3">
        <Picture src={Excellence} />
      </GradientContainer>
    </div>
  </Container>
  <WorkExperience />

  <Container class="bg-secondary md:h-fit min-h-fit md:py-20 animate-fade-in">
    <h2>Looking for a new Team Member?</h2>
    <p>
      Whether you are looking for a new team member or just want to say hi,
      <br />
       I'd love to hear from you. Feel free to reach out to me at <a
        class="text-accent hover:underline"
        href="mailto:fahad@alhatshami.com"
      >
        fahad@alhatshami.com
      </a>
    </p>
  </Container>

  <Container class="h-fit min-h-fit md:py-20 md:pt-28">
    <div class="flex flex-col w-full gap-2 animate-fade-in items-center">
      <h2 class="font-semibold">Projects</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      </p>
    </div>
  </Container>

  <ProjectSection
    preTitle="Project 1"
    title="Project Title"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    image={Excellence.src}
    challenges={[
      {
        title: 'Challenge 1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
      },
      {
        title: 'Challenge 2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
      },
    ]}
    url="https://www.google.com"
  />

  <ProjectSection
    preTitle="Project 1"
    title="Project Title"
    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
    image={Excellence.src}
    challenges={[
      {
        title: 'Challenge 1',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
      },
      {
        title: 'Challenge 2',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.',
      },
    ]}
    url="https://www.google.com"
  />

  <Container class="bg-secondary">
    <div class="flex flex-col md:flex-row gap-8 items-start justify-between">
      <div class="md:w-[500px]">
        <h2 class="font-semibold animate-slide-in">Frequently Asked Questions</h2>
        <p class="animate-fade-in-1 mt-6">
          Find answers to common queries about my work, techniques, and journey as a developer. Whether you're curious
          about the tools I use or the inspiration behind a project.
        </p>
        <a
          href="mailto:fahad.alhatshami.com"
          class="px-5 hover:cursor-pointer w-min font-medium mt-8 py-2 flex transition duration-300 items-center justify-center whitespace-nowrap rounded-md bg-transparent text-primary border border-primary hover:bg-primary/10"
        >
          Contact Me
        </a>
      </div>

      <ul class="flex flex-col gap-4 w-[700px] animate-fade-in-3">
        <li class="animate-fade-in-2">
          <h6>What programming languages do you specialize in?</h6>
          <p>
            I specialize in Typescript, Go, and React. I also have experience with Python, Java, and a little bit of
            rust. I am always looking to expand my skillset and learn new languages.
          </p>
        </li>

        <li class="animate-fade-in-3">
          <h6>How long have you been developing?</h6>
          <p>
            I have been passionately programming since 2017. so I have been recreationally programming for {
              new Date().getFullYear() - 2017
            } years. And I have been professionally programming for around {new Date().getFullYear() - 2021} years.
          </p>
        </li>

        <li class="animate-fade-in-4">
          <h6>Do you work on both front-end and back-end development?</h6>
          <p>
            Yes, but not only that. I love to work on the whole stack. I have experience with DevOps, CI/CD, and
            infrastructure as code. I also have experience with cloud providers such as AWS and GCP.
          </p>
        </li>
        <li class="animate-fade-in-5">
          <h6>How do you stay updated with the latest in tech?</h6>
          <p>
            I dive into small projects and play around with new technologies. I try to stay away from "tutorials" and
            "videos" as i believe that the best way to learn is to get your hands dirty and build something. I also love
            to read books and articles about new technologies and how they work.
          </p>
        </li>
      </ul>
    </div>
  </Container>
</Layout>
