---
import type { HTMLAttributes } from 'astro/types';
import { cva } from 'class-variance-authority';
import { twMerge } from 'tailwind-merge';

export type Props = HTMLAttributes<'button'> &{
  variant?: 'primary' | 'secondary' | 'tertiary' | 'outline';
  fullWidth?: boolean;
};

const buttonVariants = cva(['px-5 font-medium py-2 flex transition duration-300 items-center justify-center whitespace-nowrap rounded-md'], {
  variants: {
    intent: {
      primary: 'bg-primary text-white',
      secondary: 'bg-secondary text-accent hover:bg-secondary-hover',
      tertiary: 'bg-tertiary text-white',
      outline: 'bg-transparent text-primary border border-primary hover:bg-primary/10',
    },
    fullWidth: {
      true: 'w-full',
      false: 'w-min',
    },
  },
  defaultVariants: {
    intent: 'primary',
    fullWidth: false,
  },
});

const { variant, fullWidth, ...props } = Astro.props;
---

<button class={twMerge(buttonVariants({ intent: variant, fullWidth: fullWidth }), props.class)} {...props}>
  <slot />
</button>
