
---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

export type Props = HTMLAttributes<'section'> & {}

const { ...props } = Astro.props;
---

<section class={
    twMerge('w-full min-h-[700px] h-[calc(100vh-100px)] py-16 md:py-28 md:px-16 px-5', props.class)
    }>
    <div class='inner-section max-w-[1440px] mx-auto w-full'>
        <slot/>
    </div>
</section>