---
import Container from "./container.astro";

---

<Container class='md:h-fit md:min-h-fit md:py-20 md:pt-28 footer'>
	<div class='flex flex-col w-full gap-2 animate-fade-in items-center'>
		<h6> Fahad Alhatshami </h6>
		<p> © 2021 Fahad Alhatshami. All rights reserved. </p>
	</div>
</Container>