<div>
  <p class="font-semibold">Projects</p>
  <div class="max-w-3xl">
    <h1>Personal side projects</h1>
    <p class="mt-4">
      I have a few side projects that I work on in my free time. Some of them are still a work in progress. I will be
      sharing them here as soon as they are ready for the world to see.
    </p>
  </div>
</div>
