---

import type { CollectionEntry } from 'astro:content';
export type Props = {
    project: CollectionEntry<'project'>
}

const { project } = Astro.props
---

<div class="max-w-[calc(50%-16px)] w-full">
    <div class="img bg-gray-200 w-full h-[400px]" />
    <div class="mt-4">
      <div class="flex gap-4 items-center">
        <p class="px-2 bg-gray-100 py-1 rounded-sm font-semibold text-sm">Category</p>
        <p class="font-semibold text-sm">5 minute read</p>
      </div>
      <h4>{project.data.title}</h4>
      <p class="mt-2">{project.data.description}</p>
      <a href="#" class="mt-4 inline-block font-semibold text-sm">
        Read more 
      </a>
    </div>
  </div>