---
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
import { ViewTransitions } from 'astro:transitions';

export type Props = {
  title: string;
  description: string;
}

const props = Astro.props
---

<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title> {props.title} </title>
    <meta name="description" content={props.description} />
    <ViewTransitions />
  </head>
  <body class="opacity-0">
    <Header transition:persist />
    <slot />
    <Footer transition:persist />
  </body>
  
</html>
<style is:global>
  html,
  body {
    min-height: 100vh;
  }
  html {
    overflow-x: hidden;
  }

  * {
    z-index: 1;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    document.querySelector('body')?.classList.remove('opacity-0');
  })
</script>